section.promo
  div.cont
    h1.promo__headline.headline Функциональное питание для котов
    p.promo__tagline Занялся собой? Займись котом!
    img(src="../../../img/index/cat-food-mobile.png" srcset="../../../img/index/cat-food-tablet.png 767w" alt="cat feed").promo__product-img
    button.promo__choose-program-buttom.button подобрать программу
