section.promo
  div.cont.promo__cont
    h1.promo__headline.headline Функциональное питание для котов
    p.promo__tagline Занялся собой? Займись котом!
    picture
      source(media="(min-width: 1024px)" srcset="img/index/section-promo/cat-food-desktop.png")
      source(media="(min-width: 767px)" srcset="img/index/section-promo/cat-food-tablet.png")
      img(src="img/index/section-promo/cat-food-mobile.png" alt="cat feed" width="280" height="270").promo__product-img
    button.promo__choose-program-buttom.button подобрать программу


