.header__content {
  display: flex;
  justify-content: center;
  padding: 11px 0 14px 0;

  @media (min-width: 767px) {
    justify-content: space-between;
    padding: 24px 0 14px 0;
  }
}

.header__logo {
  display: flex;
  justify-content: space-between;
  min-height: 38px;
  padding-left: 90px;
  background-image: url("../../img/logo-cat-mobile.svg");
  background-position: left;
  background-repeat: no-repeat;

  @media (min-width: 767px) {
    min-height: 51px;
    padding-left: 72px;
    background-image: url("../../img/logo-cat-tablet.svg");
  }
}

.menu {
  @media (min-width: 767px) {
    width: 440px;
    height: 36px;
    margin-top: 16px;
  }
}

.menu__toggle {
  margin-left: 63px;

  @media (min-width: 767px) {
    display: none;
  }
}

.menu__list {
  display: flex;
  justify-content: space-between;

  @media (max-width: 767px) {
    display: none;
  }
}

.menu__item {
  text-transform: uppercase;
}

.menu__link {
  display: block;
  padding-bottom: 10px;
}

.menu__link--active {
  border-bottom: 2px solid #68b738;
}

/*

.logo {
}
 */
