.tariff-card {
  display: flex;
  flex-direction: column;
  margin-bottom: 27px;

  @media (min-width: 1439px) {
    flex-direction: row;
    justify-content: space-between;
  }
}

.tariff-card__item {
  margin-bottom: 20px;
  padding: 0 20px;
  background: #f2f2f2;
  background-repeat: no-repeat;

  &:nth-last-child(1) {
    margin-bottom: 0;
  }

  @media (min-width: 767px) {
    padding: 0 20px 0 52px;
  }

  @media (min-width: 1439px) {
    width: 570px;
  }
}

.tariff-card__item--img-slim {
  background-image: url("../../../img/index/cat-slim.svg");
  background-position-x: 22px;
  background-position-y: 21px;

  @media (min-width: 767px) {
    background-image: url("../../../img/index/cat-slim-tablet.svg");
    background-position-x: 446px;
    background-position-y: 81px;
  }
}

.tariff-card__item--img-pro {
  background-image: url("../../../img/index/cat-pro.svg");
  background-position-x: 13px;
  background-position-y: 24px;

  @media (min-width: 767px) {
    background-image: url("../../../img/index/cat-pro-tablet.svg");
    background-position-x: 412px;
    background-position-y: 91px;
  }
}

.tariff-card__item-headline {
  padding: 30px 0 29px 78px;
  font-size: 24px;
  line-height: 37px;
  text-transform: uppercase;

  @media (min-width: 767px) {
    padding: 77px 0 24px 0;
    background-image: none;
  }
}

.tariff-card__item-text {
  width: 227px;
  font-family: Arial;
  font-size: 14px;
  line-height: 18px;
  color: #444444;

  @media (min-width: 767px) {
  }
}

.tariff-card__catalog-link {
  padding-left: 7px;

  /*   @media (min-width: 767px) {
  } */
}
