footer.footer
  div.footer__content.cont
    a(href="/").footer__logo
      img(src="../../img/logo-name-mobile.svg", alt="logo").footer__logo-img
    ul.footer__social-icon.social-icon
      li.social-icon__item.social-icon__item--vk
        a(href="/")
         img(src="../../img/icon_vkontakte.svg", alt="vkontakte")
      li.social-icon__item.social-icon__item--instagram
        a(href="/")
         img(src="../../img/icon_instagram.svg", alt="instagram")
      li.social-icon__item.social-icon__item--facebook
        a(href="/")
         img(src="../../img/icon_facebook.svg", alt="facebook")
    div.footer-copyright.copyright
      p.copyright__text HTML Academy
      a(href="/").copyright__link
         img(src="../../img/academy-logo.svg", alt="html-academy")
script(src="/js/script.min.js")
