header.header.cont
  div.header__content
    a(href="/").header__logo
      img(src="../../img/logo-name-mobile.svg", alt="logo")
    nav.menu
      button.menu__toggle х
      ul.menu__list
        li.menu__item
          a(href='/').menu__link.menu__link--active Главная
        li.menu__item
          a(href='/catalog.html' target='_blank').menu__link Каталог продукции
        li.menu__item
          a(href='/form.html' target='_blank').menu__link Подбор программы
