html(lang="ru")
  include _head.pug

  body
    div.wrapper
      include sections/header.pug
      main
        include sections/index/section-promo.pug
        include sections/index/section-tariff-card.pug
        include sections/index/section-how-work.pug

      include sections/footer.pug
