section.product-catalog
 div.wrapper
  h1.product-catalog__hedline Каталог продукции
  ul.product-catalog__list.product-list
    li.product-list__item
      img(src="https://via.placeholder.com/68x86" alt="Cat Energy Eat").product-list__item-image
      h3.product-list__item-headline Cat Energy PRO 500 г
      dl.product-list__characteristics-list.characteristics-list
        div.characteristics-list__item
          dt.characteristics-list__characteristics Масса
          dd.characteristics-list__description 500 г
      dl.product-list__characteristics-list.characteristics-list
        div.characteristics-list__item
          dt.characteristics-list__characteristics Вкус
          dd.characteristics-list__description Курица
      dl.product-list__characteristics-list.characteristics-list
        div.characteristics-list__item
          dt.characteristics-list__characteristics Цена
          dd.characteristics-list__description 700 Р.
      button.product-list__buy-button.button Заказать
    li.product-list__item
      img(src="https://via.placeholder.com/68x86" alt="Cat Energy Eat").product-list__item-image
      h3.product-list__item-headline Cat Energy PRO 1000 г
      dl.product-list__characteristics-list.characteristics-list
        div.characteristics-list__item
          dt.characteristics-list__characteristics Масса
          dd.characteristics-list__description 1000 г
      dl.product-list__characteristics-list.characteristics-list
        div.characteristics-list__item
          dt.characteristics-list__characteristics Вкус
          dd.characteristics-list__description Курица
      dl.product-list__characteristics-list.characteristics-list
        div.characteristics-list__item
          dt.characteristics-list__characteristics Цена
          dd.characteristics-list__description 1000 Р.
      button.product-list__buy-button.button Заказать
    li.product-list__item
      img(src="https://via.placeholder.com/68x86" alt="Cat Energy Eat").product-list__item-image
      h3.product-list__item-headline Cat Energy PRO 500 г
      dl.product-list__characteristics-list.characteristics-list
        div.characteristics-list__item
          dt.characteristics-list__characteristics Масса
          dd.characteristics-list__description 500 г
      dl.product-list__characteristics-list.characteristics-list
        div.characteristics-list__item
          dt.characteristics-list__characteristics Вкус
          dd.characteristics-list__description Рыба
      dl.product-list__characteristics-list.characteristics-list
        div.characteristics-list__item
          dt.characteristics-list__characteristics Цена
          dd.characteristics-list__description 700 Р.
      button.product-list__buy-button.button Заказать
    li.product-list__item
      img(src="https://via.placeholder.com/68x86" alt="Cat Energy Eat").product-list__item-image
      h3.product-list__item-headline Cat Energy PRO 1000 г
      dl.product-list__characteristics-list.characteristics-list
        div.characteristics-list__item
          dt.characteristics-list__characteristics Масса
          dd.characteristics-list__description 1000 г
      dl.product-list__characteristics-list.characteristics-list
        div.characteristics-list__item
          dt.characteristics-list__characteristics Вкус
          dd.characteristics-list__description Рыба
      dl.product-list__characteristics-list.characteristics-list
        div.characteristics-list__item
          dt.characteristics-list__characteristics Цена
          dd.characteristics-list__description 1000 Р.
      button.product-list__buy-button.button Заказать
    li.product-list__item
      img(src="https://via.placeholder.com/68x86" alt="Cat Energy Eat").product-list__item-image
      h3.product-list__item-headline Cat Energy slim 500 г
      dl.product-list__characteristics-list.characteristics-list
        div.characteristics-list__item
          dt.characteristics-list__characteristics Масса
          dd.characteristics-list__description 500 г
      dl.product-list__characteristics-list.characteristics-list
        div.characteristics-list__item
          dt.characteristics-list__characteristics Вкус
          dd.characteristics-list__description Гречка
      dl.product-list__characteristics-list.characteristics-list
        div.characteristics-list__item
          dt.characteristics-list__characteristics Цена
          dd.characteristics-list__description 400 Р.
      button.product-list__buy-button.button Заказать
    li.product-list__item
      img(src="https://via.placeholder.com/68x86" alt="Cat Energy Eat").product-list__item-image
      h3.product-list__item-headline Cat Energy slim 1000 г
      dl.product-list__characteristics-list.characteristics-list
        div.characteristics-list__item
          dt.characteristics-list__characteristics Масса
          dd.characteristics-list__description 1000 г
      dl.product-list__characteristics-list.characteristics-list
        div.characteristics-list__item
          dt.characteristics-list__characteristics Вкус
          dd.characteristics-list__description Гречка
      dl.product-list__characteristics-list.characteristics-list
        div.characteristics-list__item
          dt.characteristics-list__characteristics Цена
          dd.characteristics-list__description 700 Р.
      button.product-list__buy-button.button Заказать
    li.product-list__item
      img(src="https://via.placeholder.com/68x86" alt="Cat Energy Eat").product-list__item-image
      h3.product-list__item-headline Cat Energy slim 500 г
      dl.product-list__characteristics-list.characteristics-list
        div.characteristics-list__item
          dt.characteristics-list__characteristics Масса
          dd.characteristics-list__description 500 г
      dl.product-list__characteristics-list.characteristics-list
        div.characteristics-list__item
          dt.characteristics-list__characteristics Вкус
          dd.characteristics-list__description Рис
      dl.product-list__characteristics-list.characteristics-list
        div.characteristics-list__item
          dt.characteristics-list__characteristics Цена
          dd.characteristics-list__description 500 Р.
      button.product-list__buy-button.button Заказать
    li.product-list__item
      h3.product-list__item-headline.product-list__item-headline--more Показать еще 100500 товаров
      p.product-list__item-slogan На самом деле вкусов гораздо больше!
      button.product-list__buy-button.product-list__buy-button--more.button Заказать

