.promo {
  padding-top: 27px;
  margin-bottom: 22px;
  background-image: url("../../../img/index/promo-background-mobile.jpg");
  background-repeat: no-repeat;
  background-position-x: center;

  @media (min-width: 767px) {
    position: relative;
    padding-left: 113px;
    background-image: none;
  }
}

/* .promo .cont {
  @media (min-width: 768px) {
    max-width: initial;
  }
} */

.promo__headline {
  margin-bottom: 25px;
  font-size: 36px;
  line-height: 36px;
  text-align: center;
  color: #ffffff;

  @media (min-width: 767px) {
    width: 414px;
    margin-top: 21px;
    margin-bottom: 41px;
    font-size: 60px;
    line-height: 60px;
    text-align: left;
    color: #000000;
  }

  @media (min-width: 1350px) {
    margin-top: 71px;
  }
}

.promo__tagline {
  margin-bottom: 29px;
  font-size: 14px;
  line-height: 14px;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;

  @media (min-width: 767px) {
    margin-bottom: 49px;
    font-size: 20px;
    line-height: 20px;
    text-align: left;
    color: #000000;
  }
}

.promo__product-img {
  @media (min-width: 767px) {
    position: absolute;
    z-index: -1;
    left: 31px;
    top: 74%;
    width: 709px;
    height: auto;
  }

  @media (min-width: 1350px) {
    left: 38.5%;
    top: 3%;
    width: 559px;
  }
}

.promo__choose-program-buttom {
  display: block;
  margin: 0 auto;
  padding: 8px 0;
  width: 100%;

  @media (min-width: 767px) {
    width: 244px;
    padding: 14px 24px;
    margin: 0 0 526px 0;
    font-size: 20px;
  }

  @media (min-width: 1350px) {
    margin: 0 0 267px 0;
  }
}
