.tariff-card {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-bottom: 10px;
  max-width: 90%;

  @media (min-width: 767px) {
    flex-direction: column;
    max-width: 708px;
  }

  @media (min-width: 1024px) {
    flex-direction: row;
    justify-content: space-between;
    max-width: 100%;
    padding: 0 50px;
  }

  @media (min-width: 1300px) {
    max-width: 1220px;
    padding: 0;
  }
}

.tariff-card__item {
  // margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  padding: 30px 20px 2px;
  margin: 0 5px 20px;
  background: #f2f2f2;
  background-repeat: no-repeat;

  // &:nth-last-child(1) {
  //   margin-bottom: 0;
  // }

  @media (min-width: 767px) {
    min-height: 310px;
    padding: 77px 20px 53px 52px;
    margin: 0 0 40px;
  }

  @media (min-width: 1024px) {
    width: 48%;
    padding: 74px 50px 53px;
    margin-bottom: 0;
  }

  @media (min-width: 1300px) {
    width: 570px;
  }

  &:nth-last-child(1) {
    .tariff-card__item-text {
      @media (min-width: 767px) {
        max-width: 344px;
      }

      @media (min-width: 1024px) {
        max-width: initial;
      }
    }

    .tariff-card__item-headline {
      @media (min-width: 1024px) {
        margin-left: 60px;
      }
    }
  }

  &:nth-last-child(2) .tariff-card__item-headline {
    @media (min-width: 1024px) {
      margin-left: 17px;
    }
  }
}

.tariff-card__item--img-slim {
  background-image: url("../../../img/index/section-tariff/cat-slim.svg");
  background-position-x: 22px;
  background-position-y: 21px;

  @media (min-width: 767px) {
    background-size: 197px;
    background-position-x: 446px;
    background-position-y: 81px;
  }

  @media (min-width: 1024px) {
    background-size: 82px;
    background-position-x: 50px;
    background-position-y: 47px;
  }

  @media (min-width: 1300px) {
    background-size: 102px;
    background-position-y: 37px;
  }
}

.tariff-card__item--img-pro {
  background-image: url("../../../img/index/section-tariff/cat-pro.svg");
  background-position-x: 13px;
  background-position-y: 24px;

  @media (min-width: 767px) {
    background-size: 267px;
    background-position-x: 412px;
    background-position-y: 91px;
  }

  @media (min-width: 1024px) {
    background-size: 112px;
    background-position-x: 32px;
    background-position-y: 51px;
  }

  @media (min-width: 1300px) {
    background-size: 136px;
    background-position-y: 43px;
  }
}

.tariff-card__item-headline {
  padding: 0 0 0 78px;
  margin-bottom: 29px;
  font-size: 24px;
  line-height: 37px;
  text-transform: uppercase;

  @media (min-width: 767px) {
    padding: 0;
    margin-bottom: 24px;
    background-image: none;
    font-size: 36px;
  }

  @media (min-width: 1024px) {
    margin-bottom: 55px;
    text-align: center;
  }

  @media (min-width: 1300px) {
    margin-bottom: 76px;
  }
}

.tariff-card__item-text {
  max-width: 227px;
  padding-bottom: 23px;
  flex-grow: 1;
  font-family: "Arial", sans-serif;
  font-size: 14px;
  line-height: 18px;
  color: #444444;
  border-bottom: 1px solid #d9d9d9;

  @media (min-width: 767px) {
    max-width: 377px;
    padding-bottom: 48px;
    font-size: 16px;
    line-height: 22px;
    border-bottom: none;
  }

  @media (min-width: 1024px) {
    max-width: 467px;
    padding-bottom: 31px;
  }
}

.tariff-card__catalog-link {
  position: relative;
  display: block;
  width: max-content;
  padding: 15px 50px 15px 0;
  text-transform: uppercase;
  font-weight: bold;

  @media (min-width: 767px) {
    padding: 0 50px 0 0;
    font-size: 20px;
  }

  &::after {
    content: "";
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    right: 8px;
    width: 24px;
    height: 12px;
    background-image: url("../../../img/index/section-tariff/icon_arrow.svg");
    background-position: right;
    transition: all 0.3s ease-in-out;
  }

  &:hover,
  &:focus,
  &:active {
    &::after {
      right: 0;
      width: 32px;
    }
  }

  &:active {
    opacity: 0.3;
  }
}
