/* GLOBAL TAGS */

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Oswald", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: normal;
}

@font-face {
  font-family: "Arial";
  src: local("Arial");
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  display: block;
  max-width: 100%;
}

p {
  margin-top: 0;
}

button {
  border: 0;
  outline: 0;
  cursor: pointer;
  background-color: transparent;
  padding: 0;
}

input {
  border: 0;
  outline: 0;
}

h1,
h2,
h3,
h4,
h5 {
  margin: 0;
  font-weight: normal;
}

dl,
dd {
  margin: 0;
}

.wrapper {
  width: 100%;
  min-height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.cont {
  width: 280px;
  margin: 0 auto;

  @media (min-width: 767px) {
    width: 708px;
  }

  @media (min-width: 1439px) {
    width: 1220px;
  }
}
