section.product-catalog
 div.cont.cont--product.wrapper
  h1.product-catalog__hedline.headline Каталог продукции
  ul.product-catalog__list.product-list
    li.product-list__item
      div.product-list__item-box
        img(src="https://via.placeholder.com/68x86" alt="Cat Energy Eat").product-list__item-image
        div.product-list__characteristics-box
          h3.product-list__item-headline Cat Energy#[br] PRO 500 г
          dl.product-list__characteristics-list.characteristics-list
              dt.characteristics-list__characteristics Масса
              dd.characteristics-list__description 500 г
          dl.product-list__characteristics-list.characteristics-list
              dt.characteristics-list__characteristics Вкус
              dd.characteristics-list__description Курица
          dl.product-list__characteristics-list.characteristics-list
              dt.characteristics-list__characteristics Цена
              dd.characteristics-list__description 700 Р.
      button.product-list__buy-button.button Заказать
    li.product-list__item
      div.product-list__item-box
        img(src="https://via.placeholder.com/86x100" alt="Cat Energy Eat").product-list__item-image
        div.product-list__characteristics-box
          h3.product-list__item-headline Cat Energy#[br] PRO 1000 г
          dl.product-list__characteristics-list.characteristics-list
              dt.characteristics-list__characteristics Масса
              dd.characteristics-list__description 1000 г
          dl.product-list__characteristics-list.characteristics-list
              dt.characteristics-list__characteristics Вкус
              dd.characteristics-list__description Курица
          dl.product-list__characteristics-list.characteristics-list
              dt.characteristics-list__characteristics Цена
              dd.characteristics-list__description 1000 Р.
      button.product-list__buy-button.button Заказать
    li.product-list__item
      div.product-list__item-box
        img(src="https://via.placeholder.com/68x86" alt="Cat Energy Eat").product-list__item-image
        div.product-list__characteristics-box
          h3.product-list__item-headline Cat Energy#[br] PRO 500 г
          dl.product-list__characteristics-list.characteristics-list
              dt.characteristics-list__characteristics Масса
              dd.characteristics-list__description 500 г
          dl.product-list__characteristics-list.characteristics-list
              dt.characteristics-list__characteristics Вкус
              dd.characteristics-list__description Рыба
          dl.product-list__characteristics-list.characteristics-list
              dt.characteristics-list__characteristics Цена
              dd.characteristics-list__description 700 Р.
      button.product-list__buy-button.button Заказать
    li.product-list__item
      div.product-list__item-box
        img(src="https://via.placeholder.com/86x100" alt="Cat Energy Eat").product-list__item-image
        div.product-list__characteristics-box
          h3.product-list__item-headline Cat Energy#[br] PRO 1000 г
          dl.product-list__characteristics-list.characteristics-list
              dt.characteristics-list__characteristics Масса
              dd.characteristics-list__description 1000 г
          dl.product-list__characteristics-list.characteristics-list
              dt.characteristics-list__characteristics Вкус
              dd.characteristics-list__description Рыба
          dl.product-list__characteristics-list.characteristics-list
              dt.characteristics-list__characteristics Цена
              dd.characteristics-list__description 1000 Р.
      button.product-list__buy-button.button Заказать
    li.product-list__item
      div.product-list__item-box
        img(src="https://via.placeholder.com/68x86" alt="Cat Energy Eat").product-list__item-image
        div.product-list__characteristics-box
          h3.product-list__item-headline Cat Energy#[br] slim 500 г
          dl.product-list__characteristics-list.characteristics-list
              dt.characteristics-list__characteristics Масса
              dd.characteristics-list__description 500 г
          dl.product-list__characteristics-list.characteristics-list
              dt.characteristics-list__characteristics Вкус
              dd.characteristics-list__description Гречка
          dl.product-list__characteristics-list.characteristics-list
              dt.characteristics-list__characteristics Цена
              dd.characteristics-list__description 400 Р.
      button.product-list__buy-button.button Заказать
    li.product-list__item
      div.product-list__item-box
        img(src="https://via.placeholder.com/86x100" alt="Cat Energy Eat").product-list__item-image
        div.product-list__characteristics-box
          h3.product-list__item-headline Cat Energy#[br] slim 1000 г
          dl.product-list__characteristics-list.characteristics-list
              dt.characteristics-list__characteristics Масса
              dd.characteristics-list__description 1000 г
          dl.product-list__characteristics-list.characteristics-list
              dt.characteristics-list__characteristics Вкус
              dd.characteristics-list__description Гречка
          dl.product-list__characteristics-list.characteristics-list
             dt.characteristics-list__characteristics Цена
              dd.characteristics-list__description 700 Р.
      button.product-list__buy-button.button Заказать
    li.product-list__item
      div.product-list__item-box
        img(src="https://via.placeholder.com/68x86" alt="Cat Energy Eat").product-list__item-image
        div.product-list__characteristics-box
          h3.product-list__item-headline Cat Energy#[br] slim 500 г
          dl.product-list__characteristics-list.characteristics-list
              dt.characteristics-list__characteristics Масса
              dd.characteristics-list__description 500 г
          dl.product-list__characteristics-list.characteristics-list
              dt.characteristics-list__characteristics Вкус
              dd.characteristics-list__description Рис
          dl.product-list__characteristics-list.characteristics-list
              dt.characteristics-list__characteristics Цена
              dd.characteristics-list__description 500 Р.
      button.product-list__buy-button.button Заказать
    li.product-list__item
      h3.product-list__item-headline.product-list__item-headline--more Показать еще 100500 товаров
      p.product-list__item-slogan На самом деле вкусов гораздо больше!
      button.product-list__buy-button.product-list__buy-button--more.button Показать все

