footer.footer
  h2.footer__logo.logo
  ul.footer__social-icon.social-icon
    li.social-icon__item.vk
    li.social-icon__item.instagram
    li.social-icon__item.facebook
  div.footer-copyright.copyright HTML Academy

