header.header
  div.wrapper
    a(href="/").header__logo.logo
      img(src="https://via.placeholder.com/33x37", alt="logo").logo-icon
      h1.logo-headline
    nav.header__menu.menu
      button.menu__toggle
      ul.menu__list
        li.menu__item
          a(href='/').menu__link.menu__link--active Главная
        li.menu__item
          a(href='../catalog/catalog.pug' target='_blank').menu__link Каталог продукции
        li.menu__item
          a(href='../form/form.pug' target='_blank').menu__link Подбор программы
