section.promo
  h2.promo__headline Функциональное питание для котов
  p.promo__tagline Занялся собой? Займись котом!
  img(src="https://via.placeholder.com/280x270" alt="cat feed").promo__product-img
  button.promo__choose-program-buttom.button подобрать программу
